*{
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   user-select: none;
}

html{
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;

   background: rgb(34,34,34);
   background: -moz-radial-gradient(circle, rgba(34,34,34,1) 75%, rgba(0,0,0,1) 100%);
   background: -webkit-radial-gradient(circle, rgba(34,34,34,1) 75%, rgba(0,0,0,1) 100%);
   background: radial-gradient(circle, rgba(34,34,34,1) 75%, rgba(0,0,0,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222",endColorstr="#000000",GradientType=1);
   cursor: url("./assets/r&mcursor.png"), auto;
   background-attachment:fixed;
   overflow-x: hidden;
}


.App {
   text-align: center;
}

@font-face {
   font-family: Minecraft;
   src: url(./assets/fonts/Minecraft.ttf) format("truetype");
}

@font-face {
   font-family: Minecraftia;
   src: url(./assets/fonts/Minecraftia-Regular.ttf) format("truetype");
}

@font-face {
   font-family: VCR OSD MONO;
   src: url(./assets/fonts/VCR_OSD_MONO_1.001.ttf) format("truetype");
}
