.img-form {
    height: 70%;
    width: 70%;
    border: 1px solid transparent;
 }

 .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: VCR OSD MONO, sans-serif;
 }

 .img-box {
    height: 50%;
    width: 50%;
    border: 1px solid transparent;
    position: relative;
  }
  
  .warning > .rick-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 20px 20px 20px 0;
    background: rgb(155, 155, 155, .5);
    color: white;
    padding: 10px;
    position: absolute;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    border: none;
    top: 0%;
    right: 5%;
    z-index: 1;
    word-wrap: break-word;
  }
  
  .warning > ul > .rick-message-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    position: absolute;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 5px;
    font-family: Minecraftia, sans-serif;
    font-size: 1.4vw;
    line-height: 130%;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .warning > .morty-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 20px 20px 0 20px;
    background: rgba(174, 206, 34, 0.5);
    color: white;
    padding: 10px;
    position: absolute;
    width: 25%;
    height: 28%;
    margin: 0 auto;
    border: none;
    bottom: 55%;
    left: 5%;
    z-index: 1;
    word-wrap: break-word;
  }
  
  .warning > ul > .morty-message-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    position: absolute;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 5px;
    font-family: Minecraftia, sans-serif;
    font-size: 1.4vw;
    line-height: 130%;
    border: none;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: -22px;
    z-index: 1;
  }

  .label-login {
    margin: 3px;
  }

  .label-login-password {
    margin-top: 7px;
  }

  .input-login {
    border-radius: 7px;
    width: 100%;
    text-align: center;
    height: 18px;
    background-color: #f0eeeed8;
    color: black;
    font-family: Roboto, sans-serif;
  }

  .button-login {
    margin-top: 7px;
    width: 100%;
    background-color: #A7CB54;
    border-radius: 7px;
    cursor: pointer;
  }

  .button-login span {
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Minecraftia, sans-serif;
    margin-bottom: -10px;
  }

  .button-login:hover {
    background-color: aqua;
  }

  /*Responsive center*/

  @media (max-width: 768px) {
    .form {
      margin-top: 35px; /* Cuando la pantalla tiene un ancho mínimo de 768px */
    }
  }
  
