.searchbar > input {
    background-color: rgba(59, 59, 59, 0.55);
    border-radius: 5px 0 0 5px;
    height: 20px;
    color: gold;
    font-family: Minecraft, sans-serif;
}

.searchbar > input > text {
    margin-top: 3px 2px 3px;
}

.searchbar > button {
    background-color: rgba(59, 59, 59, 0.55);
    border-radius: 5px;
    height: 22px;
    color: blueviolet;
    font-family: Minecraft, sans-serif;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
    padding: 0 3px 0;
}